<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <test verbose="2" preserve-order="true"
        name="D:/1.Andrew Work/1.QA Tester Projects/1.QA (2019)[FROO] Projects/SelenideExemple">
    <classes>
      <class name="md.starnet.test.MyStarnetMdTest">
        <methods>
          <include name="myStarnetMdTest"/>
          <include name="pageObjectTest"/>
          <include name="prototypeTest"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>